/* HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/* line 7, preprocessor/main.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 11, preprocessor/main.scss */
html {
  font-size: 1em;
  line-height: 1.4;
}

/* line 15, preprocessor/main.scss */
body {
  margin: 0;
  overflow-x: hidden;
}

/* line 19, preprocessor/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 24, preprocessor/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 29, preprocessor/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 41, preprocessor/main.scss */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/* line 45, preprocessor/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 51, preprocessor/main.scss */
textarea {
  resize: vertical;
}

/* line 55, preprocessor/main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 65, preprocessor/main.scss */
a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 75, preprocessor/main.scss */
* {
  font-family: 'apercu';
  -webkit-font-smoothing: antialiased;
}

/* line 79, preprocessor/main.scss */
section {
  position: relative;
}

/* line 82, preprocessor/main.scss */
.noScroll {
  overflow-y: hidden;
}

/* line 85, preprocessor/main.scss */
.neutralTransform {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

/* line 92, preprocessor/main.scss */
.menuHover {
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -o-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* line 99, preprocessor/main.scss */
.sideMenuActive {
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -o-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

/* line 158, preprocessor/main.scss */
.fixedNav {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 100;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: -webkit-transform .2s;
  -moz-transition: -moz-transform .2s;
  -o-transition: -o-transform .2s;
  -ms-transition: -ms-transform .2s;
  transition: transform .2s;
}

/* line 176, preprocessor/main.scss */
.fixedNav.menuActive .site-title {
  opacity: 0;
}

/* line 180, preprocessor/main.scss */
.fixedNav > * {
  display: inline-block;
}

/* line 183, preprocessor/main.scss */
#menu-button {
  position: relative;
  left: 30px;
  height: 18px;
  width: 18px;
  cursor: pointer;
  transition: width .2s;
}
/* line 191, preprocessor/main.scss */
#menu-button::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  background-color: #000000;
  -webkit-transition: width .2s;
  -moz-transition: width .2s;
  -o-transition: width .2s;
  -ms-transition: width .2s;
  transition: width .2s;
}
/* line 205, preprocessor/main.scss */
#menu-button::before {
  position: absolute;
  content: 'close';
  top: 2px;
  left: 10px;
  font-size: 11px;
  vertical-align: middle;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: -webkit-transform .2s, opacity .2s;
  -moz-transition: -moz-transform .2s, opacity .2s;
  -o-transition: -o-transform .2s, opacity .2s;
  -ms-transition: -ms-transform .2s, opacity .2s;
  transition: transform .2s, opacity .2s;
}

/* line 225, preprocessor/main.scss */
#menu-button:hover {
  width: 20px;
}

/* line 228, preprocessor/main.scss */
#menu-button:hover .menu-line::before {
  width: 100%;
}

/* line 231, preprocessor/main.scss */
.menu-line {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  height: 2px;
  width: 100%;
  background-color: #000000;
  -webkit-transition: width .2s;
  -moz-transition: width .2s;
  -o-transition: width .2s;
  -ms-transition: width .2s;
  transition: width .2s;
}
/* line 245, preprocessor/main.scss */
.menu-line::before {
  position: absolute;
  content: "";
  top: -6px;
  width: 80%;
  height: 2px;
  background-color: #000000;
  -webkit-transition: width .2s;
  -moz-transition: width .2s;
  -o-transition: width .2s;
  -ms-transition: width .2s;
  transition: width .2s;
}
/* line 258, preprocessor/main.scss */
.menu-line::after {
  position: absolute;
  content: "";
  top: 6px;
  width: 100%;
  height: 2px;
  background-color: #000000;
  -webkit-transition: width .2s;
  -moz-transition: width .2s;
  -o-transition: width .2s;
  -ms-transition: width .2s;
  transition: width .2s;
}

/* line 273, preprocessor/main.scss */
.fixedNav.menuActive #menu-button::after {
  width: 2px;
}
/* line 276, preprocessor/main.scss */
.fixedNav.menuActive #menu-button::before {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

/* line 285, preprocessor/main.scss */
.fixedNav.menuActive .menu-line {
  width: 0;
  opacity: 0;
  background-color: #000000;
}
/* line 290, preprocessor/main.scss */
.fixedNav.menuActive .menu-line::after {
  width: 0;
  opacity: 0;
  background-color: #000000;
}
/* line 295, preprocessor/main.scss */
.fixedNav.menuActive .menu-line::before {
  width: 0;
  opacity: 0;
  background-color: #000000;
}

/* line 301, preprocessor/main.scss */
.site-title {
  position: absolute;
  width: 51.5px;
  height: 26px;
  opacity: 1;
  background-image: url(../public/img/wire-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -o-transition: opacity .2s;
  -ms-transition: opacity .2s;
  transition: opacity .2s;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

/* line 316, preprocessor/main.scss */
.fixedNav.onDark .menu-line {
  background-color: #ffffff;
}
/* line 319, preprocessor/main.scss */
.fixedNav.onDark .menu-line::before {
  background-color: #ffffff;
}
/* line 322, preprocessor/main.scss */
.fixedNav.onDark .menu-line::after {
  background-color: #ffffff;
}

/* line 326, preprocessor/main.scss */
.fixedNav.onDark .site-title {
  background-image: url(../public/img/wire-logo-white.png);
}

/* line 329, preprocessor/main.scss */
#side-nav {
  position: fixed;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100vh;
  font-size: 20px;
  font-weight: 400;
  -webkit-transition: left .2s;
  -moz-transition: left .2s;
  -o-transition: left .2s;
  -ms-transition: left .2s;
  transition: left .2s;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 50;
}

/* line 350, preprocessor/main.scss */
#side-nav > div {
  float: left;
}

/* line 353, preprocessor/main.scss */
#main-side {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #F7F7F7;
}

/* line 359, preprocessor/main.scss */
#project-side {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -o-transition: opacity .2s;
  -ms-transition: opacity .2s;
  transition: opacity .2s;
}

/* line 371, preprocessor/main.scss */
#side-nav.menu-clicked {
  left: 0;
}

/* line 374, preprocessor/main.scss */
#side-nav.projectMenu {
  width: 100%;
}

/* line 377, preprocessor/main.scss */
#side-nav.projectMenu #project-side {
  opacity: 1;
}

/* line 380, preprocessor/main.scss */
#side-nav.projectMenu #main-side {
  width: 50%;
}

/* line 383, preprocessor/main.scss */
#main-side ul {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0 10px 0 30px;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/* line 392, preprocessor/main.scss */
#side-nav li {
  position: relative;
  margin-bottom: 40px;
  cursor: pointer;
}
/* line 397, preprocessor/main.scss */
#side-nav li:before {
  position: absolute;
  content: '';
  left: 0;
  top: 60%;
  width: 0;
  height: 1px;
  background-color: #000000;
  z-index: 2;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}

/* line 414, preprocessor/main.scss */
#side-nav li.active:before {
  width: 120px;
}

/* line 418, preprocessor/main.scss */
#side-nav.menu-clicked {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

/* line 425, preprocessor/main.scss */
#view-all-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  height: 20px;
  width: 20px;
  margin-top: -10px;
  z-index: 100;
  cursor: pointer;
  -webkit-transition: all ease .4s;
  -moz-transition: all ease .4s;
  -o-transition: all ease .4s;
  -ms-transition: all ease .4s;
  transition: all ease .4s;
  -webkit-backface-visibility: hidden;
}
/* line 440, preprocessor/main.scss */
#view-all-btn:before, #view-all-btn:after {
  content: '';
  position: absolute;
  background-color: #000000;
}
/* line 445, preprocessor/main.scss */
#view-all-btn:before {
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
}
/* line 451, preprocessor/main.scss */
#view-all-btn:after {
  top: 50%;
  margin-top: -1px;
  height: 2px;
  width: 100%;
}
/* line 457, preprocessor/main.scss */
#view-all-btn.close {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* line 465, preprocessor/main.scss */
#project-side ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

/* line 472, preprocessor/main.scss */
#project-side li {
  width: 100%;
  min-height: 170px;
  height: 100px;
  padding: 10% 20%;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #222222;
  -webkit-transition: -webkit-transform ease .1s, opacity .1s;
  -moz-transition: -moz-transform ease .1s, opacity .1s;
  -o-transition: -o-transform ease .1s, opacity .1s;
  -ms-transition: -ms-transform ease .1s, opacity .1s;
  transition: transform ease .1s, opacity .1s;
}

/* line 488, preprocessor/main.scss */
.projLi {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
}

/* line 492, preprocessor/main.scss */
.projLink:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* line 504, preprocessor/main.scss */
.projLink h1 {
  position: relative;
  top: 50%;
  margin: 0;
  font-weight: 200;
  text-align: center;
  color: #ffffff;
  -webkit-transform: translate(-20px, -50%);
  -ms-transform: translate(-20px, -50%);
  transform: translate(-20px, -50%);
  opacity: 0;
  -webkit-transition: all .2s .25s;
  -moz-transition: all .2s .25s;
  -o-transition: all .2s .25s;
  -ms-transition: all .2s .25s;
  transition: all .2s .25s;
  z-index: 2;
}

/* line 522, preprocessor/main.scss */
.projLink .strikethrough {
  display: inline-block;
  position: relative;
}
/* line 526, preprocessor/main.scss */
.projLink .strikethrough:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  width: 0;
  transition: width 0s ease, background .2s ease;
}
/* line 536, preprocessor/main.scss */
.projLink .strikethrough:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  height: 1px;
  width: 0;
  background: #FFFFB0;
  transition: width .2s ease;
}

/* line 549, preprocessor/main.scss */
.projLink:hover .strikethrough:before {
  width: 100%;
  background: #FFFFB0;
  transition: width .2s ease;
}
/* line 554, preprocessor/main.scss */
.projLink:hover .strikethrough:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}

/* line 560, preprocessor/main.scss */
.projectMenu .projLink h1 {
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
  opacity: 1;
}

/* line 566, preprocessor/main.scss */
.projLink .view-proj {
  position: absolute;
  left: 50%;
  bottom: 10%;
  display: block;
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 12px;
  color: #ffffff;
  cursor: pointer;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -o-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
}

/* line 589, preprocessor/main.scss */
.projLink:hover .view-proj {
  -webkit-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
}

/* line 594, preprocessor/main.scss */
.projLink .view-plus {
  position: absolute;
  float: left;
  width: 18px;
  height: 18px;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -o-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
}
/* line 606, preprocessor/main.scss */
.projLink .view-plus:after, .projLink .view-plus:before {
  position: absolute;
  content: '';
  background-color: #ffffff;
}
/* line 611, preprocessor/main.scss */
.projLink .view-plus:after {
  top: 50%;
  left: 0px;
  width: 18px;
  height: 1px;
  margin-top: -1px;
}
/* line 618, preprocessor/main.scss */
.projLink .view-plus:before {
  top: 0;
  left: 50%;
  width: 1px;
  height: 17px;
}

/* line 625, preprocessor/main.scss */
.projLink:hover .view-plus {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 630, preprocessor/main.scss */
.projLink .view-proj p {
  margin-top: 0;
  margin-left: 30px;
  margin-bottom: 0;
}

/* line 635, preprocessor/main.scss */
.number-wrap {
  font-size: 0.6em;
  vertical-align: 1.4em;
}

/* line 645, preprocessor/main.scss */
#wrap {
  height: 100%;
  width: 100%;
  -webkit-transition: -webkit-transform .2s;
  -moz-transition: -moz-transform .2s;
  -o-transition: -o-transform .2s;
  -ms-transition: -ms-transform .2s;
  transition: transform .2s;
}

/* line 655, preprocessor/main.scss */
#intro {
  height: 100vh;
  width: 100%;
}

/* line 659, preprocessor/main.scss */
#intro-text {
  position: relative;
  width: 50%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/* line 667, preprocessor/main.scss */
#intro-text h1 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

/* line 672, preprocessor/main.scss */
#intro-arrow {
  position: absolute;
  width: 12px;
  height: 20px;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background-image: url(../public/img/intro-down-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* line 687, preprocessor/main.scss */
.hp-work-item {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* line 695, preprocessor/main.scss */
.work-info {
  position: relative;
  width: 50%;
  height: 100%;
  left: 50%;
  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  -o-transition: background-color .2s;
  -ms-transition: background-color .2s;
  transition: background-color .2s;
}

/* line 706, preprocessor/main.scss */
.work-text {
  position: relative;
  width: 61.4%;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/* line 110, preprocessor/main.scss */
.work-text:before, .work-text:after {
  content: "";
  display: table;
}
/* line 114, preprocessor/main.scss */
.work-text:after {
  clear: both;
}

/* line 714, preprocessor/main.scss */
.worktext-appear-wrap {
  opacity: 0;
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -o-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  -webkit-transition: opacity .5s .2s, -webkit-transform .6s .2s;
  -moz-transition: opacity .5s .2s, -moz-transform .6s .2s;
  -o-transition: opacity .5s .2s, -o-transform .6s .2s;
  -ms-transition: opacity .5s .2s, -ms-transform .6s .2s;
  transition: opacity .5s .2s, transform .6s .2s;
}

/* line 727, preprocessor/main.scss */
.worktext-appear-wrap * {
  margin: 0;
}

/* line 730, preprocessor/main.scss */
.work-text h2 {
  margin-bottom: 1rem;
  margin-top: 0;
  text-transform: lowercase;
  font-weight: 100;
  font-size: 18px;
}

/* line 737, preprocessor/main.scss */
.work-text h1 {
  margin-bottom: 3rem;
  margin-top: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2em;
}

/* line 744, preprocessor/main.scss */
.work-text h3 {
  font-size: 12px;
  margin: 0;
  text-transform: uppercase;
}

/* line 749, preprocessor/main.scss */
.hp-work-item .view-proj {
  position: relative;
  display: block;
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 12px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 761, preprocessor/main.scss */
.hp-work-item .view-plus {
  position: absolute;
  float: left;
  width: 18px;
  height: 18px;
}
/* line 768, preprocessor/main.scss */
.hp-work-item .view-plus:after, .hp-work-item .view-plus:before {
  position: absolute;
  content: '';
  background-color: #000000;
}
/* line 773, preprocessor/main.scss */
.hp-work-item .view-plus:after {
  top: 50%;
  left: 0px;
  width: 18px;
  height: 1px;
  margin-top: -1px;
}
/* line 780, preprocessor/main.scss */
.hp-work-item .view-plus:before {
  top: 0;
  left: 50%;
  width: 1px;
  height: 17px;
}

/* line 787, preprocessor/main.scss */
.hp-work-item .view-proj p {
  margin-left: 30px;
  margin-bottom: 20px;
}

/* line 791, preprocessor/main.scss */
.work-info {
  background-color: #E7F1FF;
}

/* line 794, preprocessor/main.scss */
.hp-work-item.active .worktext-appear-wrap {
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  transform: translateX(0) !important;
  opacity: 1;
}

/* line 805, preprocessor/main.scss */
#projectWrap {
  height: 100%;
  width: 100%;
  background-color: #222222;
  -webkit-transition: -webkit-transform .2s;
  -moz-transition: -moz-transform .2s;
  -o-transition: -o-transform .2s;
  -ms-transition: -ms-transform .2s;
  transition: transform .2s;
}

/* line 816, preprocessor/main.scss */
#project-hdr {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* line 821, preprocessor/main.scss */
#project-hdr-text {
  position: absolute;
  left: 7%;
  bottom: 15%;
  width: 30%;
  color: #ffffff;
}

/* line 828, preprocessor/main.scss */
#project-hdr-text, #overview-text, #brief-text {
  opacity: 0;
  -webkit-transition: opacity ease .2s .5s;
  -moz-transition: opacity ease .2s .5s;
  -o-transition: opacity ease .2s .5s;
  -ms-transition: opacity ease .2s .5s;
  transition: opacity ease .2s .5s;
}

/* line 836, preprocessor/main.scss */
.project-nav {
  position: fixed;
  top: 50%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: border-bottom ease .2s;
  -moz-transition: border-bottom ease .2s;
  -o-transition: border-bottom ease .2s;
  -ms-transition: border-bottom ease .2s;
  transition: border-bottom ease .2s;
  padding-bottom: 0.2rem;
  z-index: 100;
}

/* line 850, preprocessor/main.scss */
.project-nav h1 {
  font-size: 12px;
  margin: 0;
}

/* line 854, preprocessor/main.scss */
.project-nav:hover {
  border-bottom: 2px solid white;
}

/* line 857, preprocessor/main.scss */
#next-project {
  right: 0;
  -webkit-transform: rotate(90deg) translateX(-50%);
  -moz-transform: rotate(90deg) translateX(-50%);
  -o-transform: rotate(90deg) translateX(-50%);
  -ms-transform: rotate(90deg) translateX(-50%);
  transform: rotate(90deg) translateX(-50%);
}

/* line 865, preprocessor/main.scss */
#prev-project {
  left: 0;
  -webkit-transform: rotate(-90deg) translateX(50%);
  -moz-transform: rotate(-90deg) translateX(50%);
  -o-transform: rotate(-90deg) translateX(50%);
  -ms-transform: rotate(-90deg) translateX(50%);
  transform: rotate(-90deg) translateX(50%);
}

/* line 873, preprocessor/main.scss */
#project-hdr-text * {
  margin: 0;
}

/* line 876, preprocessor/main.scss */
#projectWrap.loadAnim #project-hdr-text {
  opacity: 1;
}

/* line 879, preprocessor/main.scss */
#project-hdr-img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: all .2s .3s;
  -moz-transition: all .2s .3s;
  -o-transition: all .2s .3s;
  -ms-transition: all .2s .3s;
  transition: all .2s .3s;
}

/* line 894, preprocessor/main.scss */
#projectWrap.loadAnim #project-hdr-img {
  transform: scale(0.8);
}

/* line 897, preprocessor/main.scss */
#project-hdr-text h1 {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2em;
  margin-bottom: 2.2rem;
}

/* line 903, preprocessor/main.scss */
#project-hdr-text h2 {
  text-transform: lowercase;
  font-weight: 100;
  font-size: 18px;
  margin-bottom: 1.2rem;
}

/* line 909, preprocessor/main.scss */
#project-hdr-text h3 {
  font-size: 12px;
  margin: 0;
  text-transform: uppercase;
}

/* line 914, preprocessor/main.scss */
.close-proj {
  position: relative;
  font-family: inherit;
  font-size: 12px;
  margin-bottom: 20px;
  padding-left: 20px;
  z-index: 1000;
}
/* line 922, preprocessor/main.scss */
.close-proj:before, .close-proj:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 12px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform ease .2s;
  -moz-transition: -moz-transform ease .2s;
  -o-transition: -o-transform ease .2s;
  -ms-transition: -ms-transform ease .2s;
  transition: transform ease .2s;
}

/* line 938, preprocessor/main.scss */
.close-proj:hover:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 945, preprocessor/main.scss */
.close-proj:hover:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 953, preprocessor/main.scss */
.project-section {
  position: relative;
  padding: 0 10%;
}
/* line 110, preprocessor/main.scss */
.project-section:before, .project-section:after {
  content: "";
  display: table;
}
/* line 114, preprocessor/main.scss */
.project-section:after {
  clear: both;
}

/* line 958, preprocessor/main.scss */
#section1, #section2 {
  margin-top: 7%;
}

/* line 961, preprocessor/main.scss */
#section3 {
  margin: 7% 0 10% 0;
}

/* line 964, preprocessor/main.scss */
.project-subhead {
  position: relative;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 30px;
}
/* line 972, preprocessor/main.scss */
.project-subhead::after {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  width: 16px;
  height: 1px;
  background-color: #ffffff;
}

/* line 982, preprocessor/main.scss */
.project-section p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

/* line 987, preprocessor/main.scss */
#overview-text {
  position: absolute;
  float: left;
  left: 10%;
  top: 0;
  margin-top: 40px;
  width: 30%;
  z-index: 2;
}

/* line 996, preprocessor/main.scss */
#projectWrap.loadAnim #overview-text {
  opacity: 1;
}

/* line 999, preprocessor/main.scss */
.overview-img-wrap {
  position: relative;
  float: right;
  width: 60%;
}

/* line 1004, preprocessor/main.scss */
#overview-img {
  position: relative;
  float: right;
  width: 100%;
  padding-bottom: 65%;
}

/* line 1011, preprocessor/main.scss */
#overview-img > div,
#s2-img1 > div, #s2-img2 > div, #s3-img > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* line 1020, preprocessor/main.scss */
.s2-img-wrap {
  width: 45%;
}

/* line 1023, preprocessor/main.scss */
#s3-img-wrap {
  width: 100%;
}

/* line 1027, preprocessor/main.scss */
#s2-img1-wrap {
  position: relative;
  float: left;
}

/* line 1031, preprocessor/main.scss */
#s2-img2-wrap {
  position: relative;
  float: right;
  margin-top: 10%;
}

/* line 1036, preprocessor/main.scss */
#s2-img1, #s2-img2 {
  position: relative;
  width: 100%;
  padding-bottom: 70%;
}

/* line 1041, preprocessor/main.scss */
#s3-img {
  position: relative;
  width: 100%;
  padding-bottom: 70%;
}

/* line 1046, preprocessor/main.scss */
#solution-text {
  position: absolute;
  float: left;
  left: 30%;
  top: 0;
  margin-top: 40px;
  width: 40%;
  z-index: 2;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* line 1056, preprocessor/main.scss */
#projectWrap.loadAnim #brief-text {
  opacity: 1;
}

/* line 1064, preprocessor/main.scss */
#contact {
  width: 100%;
  height: 100vh;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}
/* line 110, preprocessor/main.scss */
#contact:before, #contact:after {
  content: "";
  display: table;
}
/* line 114, preprocessor/main.scss */
#contact:after {
  clear: both;
}

/* line 1078, preprocessor/main.scss */
#contact.isInProjects h1,
#contact.isInProjects h2,
#contact.isInProjects h3,
#contact.isInProjects li,
#contact.isInProjects p {
  color: #ffffff;
}

/* line 1081, preprocessor/main.scss */
#contact-wrap {
  width: 100%;
  height: 60%;
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 1092, preprocessor/main.scss */
#contact-left {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}

/* line 1099, preprocessor/main.scss */
#contact-right {
  -webkit-transition: all .2s .2s;
  -moz-transition: all .2s .2s;
  -o-transition: all .2s .2s;
  -ms-transition: all .2s .2s;
  transition: all .2s .2s;
}

/* line 1107, preprocessor/main.scss */
#contact-left,
#contact-right {
  display: block;
  float: left;
  width: 50%;
  height: 100%;
  padding-left: 8%;
  opacity: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

/* line 1122, preprocessor/main.scss */
#contact.notActive #contact-left,
#contact.notActive #contact-right {
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -o-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
}

/* line 1131, preprocessor/main.scss */
#contact h1 {
  position: relative;
  margin-top: 0;
  font-size: 60px;
  font-weight: 200;
}
/* line 1137, preprocessor/main.scss */
#contact h1::before {
  position: absolute;
  content: '';
  bottom: -20px;
  width: 100px;
  height: 1px;
  margin-left: 0.1em;
  background-color: #000000;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}

/* line 1153, preprocessor/main.scss */
#contact.isInProjects h1::before {
  background-color: #ffffff;
}

/* line 1157, preprocessor/main.scss */
#contact h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 40px 0;
}

/* line 1162, preprocessor/main.scss */
#contact h3 {
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
}

/* line 1167, preprocessor/main.scss */
#contact p {
  font-size: 12px;
}

/* line 1170, preprocessor/main.scss */
#contact ul {
  padding: 0;
  margin-top: 0;
  list-style: none;
}

/* line 1175, preprocessor/main.scss */
#contact li {
  font-size: 18px;
  font-weight: 400;
}

/* line 1179, preprocessor/main.scss */
#contact-right p {
  position: absolute;
  bottom: 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media screen and (max-width: 768px) and (min-width: 421px) {
  /* line 1190, preprocessor/main.scss */
  .sideMenuActive {
    -webkit-transform: translateX(90%);
    -moz-transform: translateX(90%);
    -o-transform: translateX(90%);
    -ms-transform: translateX(90%);
    transform: translateX(90%);
  }

  /* line 1197, preprocessor/main.scss */
  #side-nav {
    left: -90%;
    width: 90%;
    font-size: 20px;
  }

  /* line 1202, preprocessor/main.scss */
  #side-nav.projectMenu {
    width: 180%;
  }

  /* line 1205, preprocessor/main.scss */
  #side-nav.projectMenu #project-side {
    opacity: 1;
  }

  /* line 1208, preprocessor/main.scss */
  #side-nav.projectMenu #main-side {
    width: 50%;
  }

  /* line 1211, preprocessor/main.scss */
  #view-all-btn {
    right: 0px;
    height: 20px;
    width: 20px;
  }

  /* line 1217, preprocessor/main.scss */
  #intro-text {
    position: relative;
    width: 80%;
  }

  /* line 1221, preprocessor/main.scss */
  #intro-text h1 {
    font-size: 18px;
  }

  /* line 1224, preprocessor/main.scss */
  .work-info {
    width: 68%;
    height: 76%;
    top: 12%;
    left: 16%;
    right: 16%;
    bottom: 12%;
  }

  /* line 1232, preprocessor/main.scss */
  .work-text {
    width: 80%;
    margin: 0 auto;
    top: 50%;
  }

  /* line 1237, preprocessor/main.scss */
  .work-text h1 {
    margin-bottom: 3rem;
    font-weight: 400;
    font-size: 38px;
    line-height: 1.2em;
  }

  /* line 1243, preprocessor/main.scss */
  .work-text h2 {
    font-size: 14px;
  }

  /* line 1246, preprocessor/main.scss */
  .work-text h3 {
    font-size: 10px;
  }

  /* line 1252, preprocessor/main.scss */
  #project-hdr-text {
    left: 13%;
    bottom: 15%;
    width: 60%;
    -webkit-transition: opacity ease .2s .5s;
    -moz-transition: opacity ease .2s .5s;
    -o-transition: opacity ease .2s .5s;
    -ms-transition: opacity ease .2s .5s;
    transition: opacity ease .2s .5s;
  }

  /* line 1262, preprocessor/main.scss */
  #project-wrap.loadAnim #project-hdr-img {
    top: 12%;
    left: 16%;
    right: 16%;
    bottom: 12%;
  }

  /* line 1268, preprocessor/main.scss */
  #next-project {
    right: -14px;
  }

  /* line 1272, preprocessor/main.scss */
  #prev-project {
    left: -14px;
  }

  /* line 1275, preprocessor/main.scss */
  #project-hdr-text h1 {
    font-size: 38px;
    line-height: 1.2em;
    margin-bottom: 2.2rem;
  }

  /* line 1280, preprocessor/main.scss */
  #project-hdr-text h2 {
    text-transform: lowercase;
    font-weight: 100;
    font-size: 14px;
    margin-bottom: 1.2rem;
  }

  /* line 1286, preprocessor/main.scss */
  #project-hdr-text h3 {
    font-size: 10px;
    margin: 0;
    text-transform: uppercase;
  }

  /* line 1291, preprocessor/main.scss */
  #overview-text {
    position: relative;
    float: none;
    left: 0;
    margin-top: 20px;
    padding: 0 5%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 1300, preprocessor/main.scss */
  .overview-img-wrap {
    position: relative;
    float: none;
    width: 100%;
  }

  /* line 1305, preprocessor/main.scss */
  .project-section {
    padding: 0 10%;
  }

  /* line 1308, preprocessor/main.scss */
  #solution-text {
    position: relative;
    float: none;
    left: 0;
    top: 140px;
    margin-top: 40px;
    width: 100%;
  }

  /* line 1316, preprocessor/main.scss */
  #s2-img1-wrap {
    position: relative;
    float: none;
  }

  /* line 1320, preprocessor/main.scss */
  .s2-img-wrap {
    width: 100%;
  }

  /* line 1323, preprocessor/main.scss */
  #s2-img2-wrap {
    position: relative;
    float: none;
  }

  /* line 1332, preprocessor/main.scss */
  #contact-wrap {
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 14%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 1344, preprocessor/main.scss */
  #contact-left, #contact-right {
    position: relative;
    display: block;
    height: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 1350, preprocessor/main.scss */
  #contact-left {
    float: right;
    top: 50%;
    width: 100%;
    -webkit-transition: all .2s .2s;
    -moz-transition: all .2s .2s;
    -o-transition: all .2s .2s;
    -ms-transition: all .2s .2s;
    transition: all .2s .2s;
  }

  /* line 1360, preprocessor/main.scss */
  #contact-right {
    float: left;
    top: -50%;
    width: 100%;
    padding-top: 41%;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
  }

  /* line 1371, preprocessor/main.scss */
  #contact-right p {
    display: none;
  }

  /* line 1374, preprocessor/main.scss */
  #contact h1 {
    font-size: 40px;
  }
  /* line 1377, preprocessor/main.scss */
  #contact h1::before {
    bottom: -10px;
    width: 80px;
  }

  /* line 1382, preprocessor/main.scss */
  #contact h2 {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 40px 0;
  }

  /* line 1387, preprocessor/main.scss */
  #contact h3 {
    margin: 0;
    font-size: 10px;
    text-transform: uppercase;
  }

  /* line 1393, preprocessor/main.scss */
  #contact li {
    font-size: 14px;
    margin-bottom: 0.2rem;
  }
}
@media screen and (max-width: 420px) {
  /* line 1402, preprocessor/main.scss */
  .sideMenuActive {
    -webkit-transform: translateX(90%);
    -moz-transform: translateX(90%);
    -o-transform: translateX(90%);
    -ms-transform: translateX(90%);
    transform: translateX(90%);
  }

  /* line 1409, preprocessor/main.scss */
  #side-nav {
    left: -90%;
    width: 90%;
    font-size: 20px;
  }

  /* line 1414, preprocessor/main.scss */
  #side-nav.projectMenu {
    width: 180%;
  }

  /* line 1417, preprocessor/main.scss */
  #side-nav.projectMenu #project-side {
    opacity: 1;
  }

  /* line 1420, preprocessor/main.scss */
  #side-nav.projectMenu #main-side {
    width: 50%;
  }

  /* line 1423, preprocessor/main.scss */
  #view-all-btn {
    right: 0px;
    height: 20px;
    width: 20px;
  }

  /* line 1429, preprocessor/main.scss */
  #intro-text {
    position: relative;
    width: 80%;
  }

  /* line 1433, preprocessor/main.scss */
  #intro-text h1 {
    font-size: 14px;
  }

  /* line 1436, preprocessor/main.scss */
  .work-info {
    width: 68%;
    height: 76%;
    top: 12%;
    left: 16%;
    right: 16%;
    bottom: 12%;
  }

  /* line 1444, preprocessor/main.scss */
  .work-text {
    width: 80%;
    margin: 0 auto;
    top: 50%;
  }

  /* line 1449, preprocessor/main.scss */
  .work-text h1 {
    margin-bottom: 3rem;
    font-weight: 400;
    font-size: 38px;
    line-height: 1.2em;
  }

  /* line 1455, preprocessor/main.scss */
  .work-text h2 {
    font-size: 14px;
  }

  /* line 1458, preprocessor/main.scss */
  .work-text h3 {
    font-size: 10px;
  }

  /* line 1464, preprocessor/main.scss */
  #project-hdr-text {
    left: 13%;
    bottom: 15%;
    width: 60%;
    -webkit-transition: opacity ease .2s .5s;
    -moz-transition: opacity ease .2s .5s;
    -o-transition: opacity ease .2s .5s;
    -ms-transition: opacity ease .2s .5s;
    transition: opacity ease .2s .5s;
  }

  /* line 1474, preprocessor/main.scss */
  #project-wrap.loadAnim #project-hdr-img {
    top: 12%;
    left: 16%;
    right: 16%;
    bottom: 12%;
  }

  /* line 1480, preprocessor/main.scss */
  #next-project {
    right: -14px;
  }

  /* line 1484, preprocessor/main.scss */
  #prev-project {
    left: -14px;
  }

  /* line 1487, preprocessor/main.scss */
  #project-hdr-text h1 {
    font-size: 38px;
    line-height: 1.2em;
    margin-bottom: 2.2rem;
  }

  /* line 1492, preprocessor/main.scss */
  #project-hdr-text h2 {
    text-transform: lowercase;
    font-weight: 100;
    font-size: 14px;
    margin-bottom: 1.2rem;
  }

  /* line 1498, preprocessor/main.scss */
  #project-hdr-text h3 {
    font-size: 10px;
    margin: 0;
    text-transform: uppercase;
  }

  /* line 1503, preprocessor/main.scss */
  #overview-text {
    position: relative;
    float: none;
    left: 0;
    margin-top: 20px;
    padding: 0 5%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 1512, preprocessor/main.scss */
  .overview-img-wrap {
    position: relative;
    float: none;
    width: 100%;
  }

  /* line 1517, preprocessor/main.scss */
  .project-section {
    padding: 0 10%;
  }

  /* line 1520, preprocessor/main.scss */
  #solution-text {
    position: relative;
    float: none;
    left: 0;
    top: 140px;
    margin-top: 40px;
    width: 100%;
  }

  /* line 1528, preprocessor/main.scss */
  #s2-img1-wrap {
    position: relative;
    float: none;
  }

  /* line 1532, preprocessor/main.scss */
  .s2-img-wrap {
    width: 100%;
  }

  /* line 1535, preprocessor/main.scss */
  #s2-img2-wrap {
    position: relative;
    float: none;
  }

  /* line 1544, preprocessor/main.scss */
  #contact-wrap {
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 14%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 1556, preprocessor/main.scss */
  #contact-left, #contact-right {
    position: relative;
    display: block;
    height: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 1562, preprocessor/main.scss */
  #contact-left {
    float: right;
    top: 50%;
    width: 100%;
    -webkit-transition: all .2s .2s;
    -moz-transition: all .2s .2s;
    -o-transition: all .2s .2s;
    -ms-transition: all .2s .2s;
    transition: all .2s .2s;
  }

  /* line 1572, preprocessor/main.scss */
  #contact-right {
    float: left;
    top: -50%;
    width: 100%;
    padding-top: 41%;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
  }

  /* line 1583, preprocessor/main.scss */
  #contact-right p {
    display: none;
  }

  /* line 1586, preprocessor/main.scss */
  #contact h1 {
    font-size: 40px;
  }
  /* line 1589, preprocessor/main.scss */
  #contact h1::before {
    bottom: -10px;
    width: 80px;
  }

  /* line 1594, preprocessor/main.scss */
  #contact h2 {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 40px 0;
  }

  /* line 1599, preprocessor/main.scss */
  #contact h3 {
    margin: 0;
    font-size: 10px;
    text-transform: uppercase;
  }

  /* line 1605, preprocessor/main.scss */
  #contact li {
    font-size: 14px;
    margin-bottom: 0.2rem;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 1623, preprocessor/main.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 1630, preprocessor/main.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 1637, preprocessor/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 1642, preprocessor/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 1654, preprocessor/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 1663, preprocessor/main.scss */
.invisible {
  visibility: hidden;
}

/* line 1668, preprocessor/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 1673, preprocessor/main.scss */
.clearfix:after {
  clear: both;
}

/* line 1677, preprocessor/main.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 1686, preprocessor/main.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 1694, preprocessor/main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 1698, preprocessor/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 1702, preprocessor/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 1708, preprocessor/main.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 1713, preprocessor/main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 1718, preprocessor/main.scss */
  thead {
    display: table-header-group;
  }

  /* line 1723, preprocessor/main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 1727, preprocessor/main.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 1737, preprocessor/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 1743, preprocessor/main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
