/* line 7, preprocessor/main.scss */
wr
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 11, preprocessor/main.scss */
html {
  font-size: 1em;
  line-height: 1.4;
}

/* line 15, preprocessor/main.scss */
body {
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
}

/* line 20, preprocessor/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 25, preprocessor/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 30, preprocessor/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 42, preprocessor/main.scss */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/* line 46, preprocessor/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 52, preprocessor/main.scss */
textarea {
  resize: vertical;
}

/* line 56, preprocessor/main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 66, preprocessor/main.scss */
a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: 'apercu';
  font-weight: 400;
  src: url("../public/fonts/apercu-webfont.woff") format("woff");
}

@font-face {
  font-family: 'apercu';
  font-weight: 100;
  src: url("../public/fonts/apercu-light-webfont.woff") format("woff");
}

@font-face {
  font-family: 'apercu';
  font-weight: 600;
  src: url("../public/fonts/apercu-bold-webfont.woff") format("woff");
}

/* line 94, preprocessor/main.scss */
* {
  font-family: 'apercu';
  -webkit-font-smoothing: antialiased;
}

/* line 98, preprocessor/main.scss */
section {
  position: relative;
}

/* line 101, preprocessor/main.scss */
.noScroll {
  overflow-y: hidden;
}

/* line 104, preprocessor/main.scss */
.neutralTransform {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

/* line 111, preprocessor/main.scss */
.menuHover {
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -o-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* line 118, preprocessor/main.scss */
.sideMenuActive {
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -o-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

/* line 177, preprocessor/main.scss */
.fixedNav {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 100;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: -webkit-transform .2s;
  -moz-transition: -moz-transform .2s;
  -o-transition: -o-transform .2s;
  -ms-transition: -ms-transform .2s;
  transition: transform .2s;
}

/* line 195, preprocessor/main.scss */
.fixedNav.menuActive .site-title {
  opacity: 0;
}

/* line 199, preprocessor/main.scss */
.fixedNav > * {
  display: inline-block;
}

/* line 202, preprocessor/main.scss */
#menu-button {
  position: relative;
  left: 30px;
  height: 18px;
  width: 18px;
  cursor: pointer;
  -webkit-transition: width .2s;
  -moz-transition: width .2s;
  -o-transition: width .2s;
  -ms-transition: width .2s;
  transition: width .2s;
}
/* line 214, preprocessor/main.scss */
#menu-button::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  background-color: #000000;
  -webkit-transition: width .2s;
  -moz-transition: width .2s;
  -o-transition: width .2s;
  -ms-transition: width .2s;
  transition: width .2s;
}
/* line 228, preprocessor/main.scss */
#menu-button::before {
  position: absolute;
  content: 'close';
  top: 2px;
  left: 10px;
  font-size: 11px;
  vertical-align: middle;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: -webkit-transform .2s, opacity .2s;
  -moz-transition: -moz-transform .2s, opacity .2s;
  -o-transition: -o-transform .2s, opacity .2s;
  -ms-transition: -ms-transform .2s, opacity .2s;
  transition: transform .2s, opacity .2s;
}

/* line 248, preprocessor/main.scss */
#menu-button:hover {
  width: 20px;
}

/* line 251, preprocessor/main.scss */
#menu-button:hover .menu-line::before {
  width: 100%;
}

/* line 254, preprocessor/main.scss */
.menu-line {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  height: 2px;
  width: 100%;
  background-color: #000000;
  -webkit-transition: width .2s;
  -moz-transition: width .2s;
  -o-transition: width .2s;
  -ms-transition: width .2s;
  transition: width .2s;
}
/* line 268, preprocessor/main.scss */
.menu-line::before {
  position: absolute;
  content: "";
  top: -6px;
  width: 80%;
  height: 2px;
  background-color: #000000;
  -webkit-transition: width .2s;
  -moz-transition: width .2s;
  -o-transition: width .2s;
  -ms-transition: width .2s;
  transition: width .2s;
}
/* line 281, preprocessor/main.scss */
.menu-line::after {
  position: absolute;
  content: "";
  top: 6px;
  width: 100%;
  height: 2px;
  background-color: #000000;
  -webkit-transition: width .2s;
  -moz-transition: width .2s;
  -o-transition: width .2s;
  -ms-transition: width .2s;
  transition: width .2s;
}

/* line 296, preprocessor/main.scss */
.fixedNav.menuActive #menu-button::after {
  width: 2px;
}
/* line 299, preprocessor/main.scss */
.fixedNav.menuActive #menu-button::before {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

/* line 308, preprocessor/main.scss */
.fixedNav.menuActive .menu-line {
  width: 0;
  opacity: 0;
  background-color: #000000;
}
/* line 313, preprocessor/main.scss */
.fixedNav.menuActive .menu-line::after {
  width: 0;
  opacity: 0;
  background-color: #000000;
}
/* line 318, preprocessor/main.scss */
.fixedNav.menuActive .menu-line::before {
  width: 0;
  opacity: 0;
  background-color: #000000;
}

/* line 324, preprocessor/main.scss */
.site-title {
  position: absolute;
  width: 51.5px;
  height: 26px;
  opacity: 1;
  background-image: url(../public/img/wire-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -o-transition: opacity .2s;
  -ms-transition: opacity .2s;
  transition: opacity .2s;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

/* line 339, preprocessor/main.scss */
.fixedNav.onDark .menu-line {
  background-color: #ffffff;
}
/* line 342, preprocessor/main.scss */
.fixedNav.onDark .menu-line::before {
  background-color: #ffffff;
}
/* line 345, preprocessor/main.scss */
.fixedNav.onDark .menu-line::after {
  background-color: #ffffff;
}

/* line 349, preprocessor/main.scss */
.fixedNav.onDark .site-title {
  background-image: url(../public/img/wire-logo-white.png);
}

/* line 352, preprocessor/main.scss */
#side-nav {
  position: fixed;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100vh;
  font-size: 20px;
  font-weight: 400;
  -webkit-transition: left .2s;
  -moz-transition: left .2s;
  -o-transition: left .2s;
  -ms-transition: left .2s;
  transition: left .2s;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 50;
}

/* line 373, preprocessor/main.scss */
#side-nav > div {
  float: left;
}

/* line 376, preprocessor/main.scss */
#main-side {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #F7F7F7;
}

/* line 382, preprocessor/main.scss */
#project-side {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -o-transition: opacity .2s;
  -ms-transition: opacity .2s;
  transition: opacity .2s;
}

/* line 394, preprocessor/main.scss */
#side-nav.menu-clicked {
  left: 0;
}

/* line 397, preprocessor/main.scss */
#side-nav.projectMenu {
  width: 100%;
}

/* line 400, preprocessor/main.scss */
#side-nav.projectMenu #project-side {
  opacity: 1;
}

/* line 403, preprocessor/main.scss */
#side-nav.projectMenu #main-side {
  width: 50%;
}

/* line 406, preprocessor/main.scss */
#main-side ul {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0 10px 0 30px;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/* line 415, preprocessor/main.scss */
#side-nav li {
  position: relative;
  margin-bottom: 40px;
  cursor: pointer;
}
/* line 420, preprocessor/main.scss */
#side-nav li:before {
  position: absolute;
  content: '';
  left: 0;
  top: 60%;
  width: 0;
  height: 1px;
  background-color: #000000;
  z-index: 2;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}

/* line 437, preprocessor/main.scss */
#side-nav li.active:before {
  width: 120px;
}

/* line 441, preprocessor/main.scss */
#side-nav.menu-clicked {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

/* line 448, preprocessor/main.scss */
#view-all-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  height: 20px;
  width: 20px;
  margin-top: -10px;
  z-index: 100;
  cursor: pointer;
  -webkit-transition: all ease .4s;
  -moz-transition: all ease .4s;
  -o-transition: all ease .4s;
  -ms-transition: all ease .4s;
  transition: all ease .4s;
  -webkit-backface-visibility: hidden;
}
/* line 463, preprocessor/main.scss */
#view-all-btn:before, #view-all-btn:after {
  content: '';
  position: absolute;
  background-color: #000000;
}
/* line 468, preprocessor/main.scss */
#view-all-btn:before {
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
}
/* line 474, preprocessor/main.scss */
#view-all-btn:after {
  top: 50%;
  margin-top: -1px;
  height: 2px;
  width: 100%;
}
/* line 480, preprocessor/main.scss */
#view-all-btn.close {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* line 488, preprocessor/main.scss */
#project-side ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

/* line 495, preprocessor/main.scss */
#project-side li {
  width: 100%;
  min-height: 170px;
  height: 100px;
  padding: 10% 20%;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #222222;
  -webkit-transition: -webkit-transform ease .1s, opacity .1s;
  -moz-transition: -moz-transform ease .1s, opacity .1s;
  -o-transition: -o-transform ease .1s, opacity .1s;
  -ms-transition: -ms-transform ease .1s, opacity .1s;
  transition: transform ease .1s, opacity .1s;
}

/* line 511, preprocessor/main.scss */
.projLi {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
}

/* line 515, preprocessor/main.scss */
.projLink:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* line 527, preprocessor/main.scss */
.projLink h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  font-weight: 200;
  text-align: center;
  color: #ffffff;
  -webkit-transform: translate(-60%, -50%);
  -moz-transform: translate(-60%, -50%);
  -ms-transform: translate(-60%, -50%);
  -o-transform: translate(-60%, -50%);
  transform: translate(-60%, -50%);
  opacity: 0;
  z-index: 2;
  -webkit-transition: all .2s .25s;
  -moz-transition: all .2s .25s;
  -o-transition: all .2s .25s;
  -ms-transition: all .2s .25s;
  transition: all .2s .25s;
}

/* line 548, preprocessor/main.scss */
.projLink .strikethrough {
  display: inline-block;
  position: relative;
}
/* line 552, preprocessor/main.scss */
.projLink .strikethrough:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  width: 0;
  -webkit-transition: width 0s ease, background .2s ease;
  -moz-transition: width 0s ease, background .2s ease;
  -ms-transition: width 0s ease, background .2s ease;
  -o-transition: width 0s ease, background .2s ease;
  transition: width 0s ease, background .2s ease;
}
/* line 566, preprocessor/main.scss */
.projLink .strikethrough:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  height: 1px;
  width: 0;
  background: #FFFFB0;
  -webkit-transition: width .2s ease;
  -moz-transition: width .2s ease;
  -ms-transition: width .2s ease;
  -o-transition: width .2s ease;
  transition: width .2s ease;
}

/* line 583, preprocessor/main.scss */
.projLink:hover .strikethrough:before {
  width: 100%;
  background: #FFFFB0;
  -webkit-transition: width .2s ease;
  -moz-transition: width .2s ease;
  -ms-transition: width .2s ease;
  -o-transition: width .2s ease;
  transition: width .2s ease;
}
/* line 592, preprocessor/main.scss */
.projLink:hover .strikethrough:after {
  width: 100%;
  background: transparent;
  -webkit-transition: width .0s ease;
  -moz-transition: width .0s ease;
  -ms-transition: width .0s ease;
  -o-transition: width .0s ease;
  transition: width .0s ease;
}

/* line 602, preprocessor/main.scss */
.projectMenu .projLink h1 {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 1;
}

/* line 610, preprocessor/main.scss */
.projLink .view-proj {
  position: absolute;
  left: 50%;
  bottom: 10%;
  display: block;
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 12px;
  color: #ffffff;
  cursor: pointer;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -o-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
}

/* line 635, preprocessor/main.scss */
.projLink:hover .view-proj {
  -webkit-transform: translate(-50%, -100%);
  -moz-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  -o-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
}

/* line 642, preprocessor/main.scss */
.projLink .view-plus {
  position: absolute;
  float: left;
  width: 18px;
  height: 18px;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -o-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
}
/* line 654, preprocessor/main.scss */
.projLink .view-plus:after, .projLink .view-plus:before {
  position: absolute;
  content: '';
  background-color: #ffffff;
}
/* line 659, preprocessor/main.scss */
.projLink .view-plus:after {
  top: 50%;
  left: 0px;
  width: 18px;
  height: 1px;
  margin-top: -1px;
}
/* line 666, preprocessor/main.scss */
.projLink .view-plus:before {
  top: 0;
  left: 50%;
  width: 1px;
  height: 17px;
}

/* line 673, preprocessor/main.scss */
.projLink:hover .view-plus {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 680, preprocessor/main.scss */
.projLink .view-proj p {
  margin-top: 0;
  margin-left: 30px;
  margin-bottom: 0;
}

/* line 685, preprocessor/main.scss */
.number-wrap {
  font-size: 0.6em;
  vertical-align: 1.4em;
}

/* line 695, preprocessor/main.scss */
#wrap {
  height: 100%;
  width: 100%;
  -webkit-transition: -webkit-transform .2s;
  -moz-transition: -moz-transform .2s;
  -o-transition: -o-transform .2s;
  -ms-transition: -ms-transform .2s;
  transition: transform .2s;
}

/* line 705, preprocessor/main.scss */
#intro {
  height: 100vh;
  width: 100%;
}

/* line 709, preprocessor/main.scss */
#intro-text {
  position: relative;
  width: 50%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/* line 717, preprocessor/main.scss */
#intro-text h1 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

/* line 722, preprocessor/main.scss */
#intro-arrow {
  position: absolute;
  width: 12px;
  height: 20px;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background-image: url(../public/img/intro-down-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* line 737, preprocessor/main.scss */
.hpWorkItem {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
/* line 129, preprocessor/main.scss */
.hpWorkItem:before, .hpWorkItem:after {
  content: "";
  display: table;
}
/* line 133, preprocessor/main.scss */
.hpWorkItem:after {
  clear: both;
}

/* line 746, preprocessor/main.scss */
.work-info {
  position: relative;
  width: 50%;
  height: 100%;
  left: 50%;
  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  -o-transition: background-color .2s;
  -ms-transition: background-color .2s;
  transition: background-color .2s;
}

/* line 757, preprocessor/main.scss */
.work-text {
  position: relative;
  width: 61.4%;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/* line 129, preprocessor/main.scss */
.work-text:before, .work-text:after {
  content: "";
  display: table;
}
/* line 133, preprocessor/main.scss */
.work-text:after {
  clear: both;
}

/* line 765, preprocessor/main.scss */
.worktext-appear-wrap {
  opacity: 0;
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -o-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  -webkit-transition: opacity .5s .2s, -webkit-transform .6s .2s;
  -moz-transition: opacity .5s .2s, -moz-transform .6s .2s;
  -o-transition: opacity .5s .2s, -o-transform .6s .2s;
  -ms-transition: opacity .5s .2s, -ms-transform .6s .2s;
  transition: opacity .5s .2s, transform .6s .2s;
}

/* line 778, preprocessor/main.scss */
.worktext-appear-wrap * {
  margin: 0;
}

/* line 781, preprocessor/main.scss */
.work-text h2 {
  margin-bottom: 1rem;
  margin-top: 0;
  text-transform: lowercase;
  font-weight: 100;
  font-size: 18px;
}

/* line 788, preprocessor/main.scss */
.work-text h1 {
  margin-bottom: 3rem;
  margin-top: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2em;
}

/* line 795, preprocessor/main.scss */
.work-text h3 {
  font-size: 12px;
  margin: 0;
  text-transform: uppercase;
}

/* line 800, preprocessor/main.scss */
.hpWorkItem .view-proj {
  position: relative;
  display: block;
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 12px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 812, preprocessor/main.scss */
.hpWorkItem .view-plus {
  position: absolute;
  float: left;
  width: 18px;
  height: 18px;
}
/* line 819, preprocessor/main.scss */
.hpWorkItem .view-plus:after, .hpWorkItem .view-plus:before {
  position: absolute;
  content: '';
  background-color: #000000;
}
/* line 824, preprocessor/main.scss */
.hpWorkItem .view-plus:after {
  top: 50%;
  left: 0px;
  width: 18px;
  height: 1px;
  margin-top: -1px;
}
/* line 831, preprocessor/main.scss */
.hpWorkItem .view-plus:before {
  top: 0;
  left: 50%;
  width: 1px;
  height: 17px;
}

/* line 838, preprocessor/main.scss */
.hpWorkItem .view-proj p {
  margin-left: 30px;
  margin-bottom: 20px;
}

/* line 842, preprocessor/main.scss */
.work-info {
  background-color: #E7F1FF;
}

/* line 845, preprocessor/main.scss */
.hpWorkItem.active .worktext-appear-wrap {
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  transform: translateX(0) !important;
  opacity: 1;
}

/* line 856, preprocessor/main.scss */
#projectWrap {
  height: 100%;
  width: 100%;
  background-color: #222222;
  -webkit-transition: -webkit-transform .2s;
  -moz-transition: -moz-transform .2s;
  -o-transition: -o-transform .2s;
  -ms-transition: -ms-transform .2s;
  transition: transform .2s;
}

/* line 867, preprocessor/main.scss */
#project-hdr {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* line 872, preprocessor/main.scss */
#project-hdr-text {
  position: absolute;
  left: 7%;
  bottom: 15%;
  width: 30%;
  color: #ffffff;
}

/* line 879, preprocessor/main.scss */
#project-hdr-text, #overview-text, #brief-text {
  opacity: 0;
  -webkit-transition: opacity ease .2s .5s;
  -moz-transition: opacity ease .2s .5s;
  -o-transition: opacity ease .2s .5s;
  -ms-transition: opacity ease .2s .5s;
  transition: opacity ease .2s .5s;
}

/* line 887, preprocessor/main.scss */
.project-nav {
  position: fixed;
  top: 50%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: border-bottom ease .2s;
  -moz-transition: border-bottom ease .2s;
  -o-transition: border-bottom ease .2s;
  -ms-transition: border-bottom ease .2s;
  transition: border-bottom ease .2s;
  padding-bottom: 0.2rem;
  z-index: 100;
}

/* line 901, preprocessor/main.scss */
.project-nav h1 {
  font-size: 12px;
  margin: 0;
}

/* line 905, preprocessor/main.scss */
.project-nav:hover {
  border-bottom: 2px solid white;
}

/* line 908, preprocessor/main.scss */
#next-project {
  right: 0;
  -webkit-transform: rotate(90deg) translateX(-50%);
  -moz-transform: rotate(90deg) translateX(-50%);
  -o-transform: rotate(90deg) translateX(-50%);
  -ms-transform: rotate(90deg) translateX(-50%);
  transform: rotate(90deg) translateX(-50%);
}

/* line 916, preprocessor/main.scss */
#prev-project {
  left: 0;
  -webkit-transform: rotate(-90deg) translateX(50%);
  -moz-transform: rotate(-90deg) translateX(50%);
  -o-transform: rotate(-90deg) translateX(50%);
  -ms-transform: rotate(-90deg) translateX(50%);
  transform: rotate(-90deg) translateX(50%);
}

/* line 924, preprocessor/main.scss */
#project-hdr-text * {
  margin: 0;
}

/* line 927, preprocessor/main.scss */
#projectWrap.loadAnim #project-hdr-text {
  opacity: 1;
}

/* line 930, preprocessor/main.scss */
#project-hdr-img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: all .2s .3s;
  -moz-transition: all .2s .3s;
  -o-transition: all .2s .3s;
  -ms-transition: all .2s .3s;
  transition: all .2s .3s;
}

/* line 945, preprocessor/main.scss */
#projectWrap.loadAnim #project-hdr-img {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

/* line 952, preprocessor/main.scss */
#project-hdr-text h1 {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2em;
  margin-bottom: 2.2rem;
}

/* line 958, preprocessor/main.scss */
#project-hdr-text h2 {
  text-transform: lowercase;
  font-weight: 100;
  font-size: 18px;
  margin-bottom: 1.2rem;
}

/* line 964, preprocessor/main.scss */
#project-hdr-text h3 {
  font-size: 12px;
  margin: 0;
  text-transform: uppercase;
}

/* line 969, preprocessor/main.scss */
.close-proj {
  position: relative;
  font-family: inherit;
  font-size: 12px;
  margin-bottom: 20px;
  padding-left: 20px;
  z-index: 1000;
}
/* line 977, preprocessor/main.scss */
.close-proj:before, .close-proj:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 12px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform ease .2s;
  -moz-transition: -moz-transform ease .2s;
  -o-transition: -o-transform ease .2s;
  -ms-transition: -ms-transform ease .2s;
  transition: transform ease .2s;
}

/* line 993, preprocessor/main.scss */
.close-proj:hover:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 1000, preprocessor/main.scss */
.close-proj:hover:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 1008, preprocessor/main.scss */
.project-section {
  position: relative;
  padding: 7% 10% 0;
  background-color: #222222;
}
/* line 129, preprocessor/main.scss */
.project-section:before, .project-section:after {
  content: "";
  display: table;
}
/* line 133, preprocessor/main.scss */
.project-section:after {
  clear: both;
}

/* line 1014, preprocessor/main.scss */
#section3 {
  padding-bottom: 7%;
}

/* line 1017, preprocessor/main.scss */
.project-subhead {
  position: relative;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 30px;
}
/* line 1025, preprocessor/main.scss */
.project-subhead::after {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  width: 16px;
  height: 1px;
  background-color: #ffffff;
}

/* line 1035, preprocessor/main.scss */
.project-section p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

/* line 1040, preprocessor/main.scss */
#overview-text {
  position: absolute;
  float: left;
  left: 10%;
  top: 0;
  margin-top: 40px;
  width: 30%;
  z-index: 2;
}

/* line 1049, preprocessor/main.scss */
#projectWrap.loadAnim #overview-text {
  opacity: 1;
}

/* line 1052, preprocessor/main.scss */
.overview-img-wrap {
  position: relative;
  float: right;
  width: 60%;
}

/* line 1057, preprocessor/main.scss */
#overview-img {
  position: relative;
  float: right;
  width: 100%;
  padding-bottom: 65%;
}

/* line 1064, preprocessor/main.scss */
#overview-img > div,
#s2-img1 > div, #s2-img2 > div, #s3-img > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* line 1073, preprocessor/main.scss */
.s2-img-wrap {
  width: 45%;
}

/* line 1076, preprocessor/main.scss */
#s3-img-wrap {
  width: 100%;
}

/* line 1080, preprocessor/main.scss */
#s2-img1-wrap {
  position: relative;
  float: left;
}

/* line 1084, preprocessor/main.scss */
#s2-img2-wrap {
  position: relative;
  float: right;
  margin-top: 10%;
}

/* line 1089, preprocessor/main.scss */
#s2-img1, #s2-img2 {
  position: relative;
  width: 100%;
  padding-bottom: 70%;
}

/* line 1094, preprocessor/main.scss */
#s3-img {
  position: relative;
  width: 100%;
  padding-bottom: 70%;
}

/* line 1099, preprocessor/main.scss */
#solution-text {
  position: absolute;
  float: left;
  left: 30%;
  top: 0;
  margin-top: 40px;
  width: 40%;
  z-index: 2;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* line 1109, preprocessor/main.scss */
#projectWrap.loadAnim #brief-text {
  opacity: 1;
}

/* line 1117, preprocessor/main.scss */
#contact {
  width: 100%;
  height: 100vh;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}
/* line 129, preprocessor/main.scss */
#contact:before, #contact:after {
  content: "";
  display: table;
}
/* line 133, preprocessor/main.scss */
#contact:after {
  clear: both;
}

/* line 1127, preprocessor/main.scss */
#contact.isInProjects {
  background-color: #222222;
}

/* line 1134, preprocessor/main.scss */
#contact.isInProjects h1,
#contact.isInProjects h2,
#contact.isInProjects h3,
#contact.isInProjects li,
#contact.isInProjects p {
  color: #ffffff;
}

/* line 1137, preprocessor/main.scss */
#contact-wrap {
  width: 100%;
  height: 60%;
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 1148, preprocessor/main.scss */
#contact-left {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}

/* line 1155, preprocessor/main.scss */
#contact-right {
  -webkit-transition: all .2s .2s;
  -moz-transition: all .2s .2s;
  -o-transition: all .2s .2s;
  -ms-transition: all .2s .2s;
  transition: all .2s .2s;
}

/* line 1163, preprocessor/main.scss */
#contact-left,
#contact-right {
  display: block;
  float: left;
  width: 50%;
  height: 100%;
  padding-left: 8%;
  opacity: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

/* line 1178, preprocessor/main.scss */
#contact.notActive #contact-left,
#contact.notActive #contact-right {
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -o-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
}

/* line 1187, preprocessor/main.scss */
#contact h1 {
  position: relative;
  margin-top: 0;
  font-size: 60px;
  font-weight: 200;
}
/* line 1193, preprocessor/main.scss */
#contact h1::before {
  position: absolute;
  content: '';
  bottom: -20px;
  width: 100px;
  height: 1px;
  margin-left: 0.1em;
  background-color: #000000;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}

/* line 1209, preprocessor/main.scss */
#contact.isInProjects h1::before {
  background-color: #ffffff;
}

/* line 1213, preprocessor/main.scss */
#contact h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 40px 0;
}

/* line 1218, preprocessor/main.scss */
#contact h3 {
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
}

/* line 1223, preprocessor/main.scss */
#contact p {
  font-size: 12px;
}

/* line 1226, preprocessor/main.scss */
#contact ul {
  padding: 0;
  margin-top: 0;
  list-style: none;
}

/* line 1231, preprocessor/main.scss */
#contact li {
  font-size: 18px;
  font-weight: 400;
}

/* line 1235, preprocessor/main.scss */
#contact-right p {
  position: absolute;
  bottom: 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media screen and (max-width: 768px) and (min-width: 421px) {
  /* line 1246, preprocessor/main.scss */
  .sideMenuActive {
    -webkit-transform: translateX(90%);
    -moz-transform: translateX(90%);
    -o-transform: translateX(90%);
    -ms-transform: translateX(90%);
    transform: translateX(90%);
  }

  /* line 1253, preprocessor/main.scss */
  #side-nav {
    left: -90%;
    width: 90%;
    font-size: 20px;
  }

  /* line 1258, preprocessor/main.scss */
  #side-nav.projectMenu {
    width: 180%;
  }

  /* line 1261, preprocessor/main.scss */
  #side-nav.projectMenu #project-side {
    opacity: 1;
  }

  /* line 1264, preprocessor/main.scss */
  #side-nav.projectMenu #main-side {
    width: 50%;
  }

  /* line 1267, preprocessor/main.scss */
  #view-all-btn {
    right: 0px;
    height: 20px;
    width: 20px;
  }

  /* line 1273, preprocessor/main.scss */
  #intro-text {
    position: relative;
    width: 80%;
  }

  /* line 1277, preprocessor/main.scss */
  #intro-text h1 {
    font-size: 18px;
  }

  /* line 1280, preprocessor/main.scss */
  .hpWorkItem {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
  }

  /* line 1285, preprocessor/main.scss */
  .work-info {
    width: 68%;
    height: 76%;
    top: 12%;
    left: 16%;
    right: 16%;
    bottom: 12%;
  }

  /* line 1293, preprocessor/main.scss */
  .work-text {
    width: 80%;
    margin: 0 auto;
    top: 50%;
  }

  /* line 1298, preprocessor/main.scss */
  .work-text h1 {
    margin-bottom: 3rem;
    font-weight: 400;
    font-size: 38px;
    line-height: 1.2em;
  }

  /* line 1304, preprocessor/main.scss */
  .work-text h2 {
    font-size: 14px;
  }

  /* line 1307, preprocessor/main.scss */
  .work-text h3 {
    font-size: 10px;
  }

  /* line 1313, preprocessor/main.scss */
  #project-hdr-text {
    left: 13%;
    bottom: 15%;
    width: 60%;
    -webkit-transition: opacity ease .2s .5s;
    -moz-transition: opacity ease .2s .5s;
    -o-transition: opacity ease .2s .5s;
    -ms-transition: opacity ease .2s .5s;
    transition: opacity ease .2s .5s;
  }

  /* line 1323, preprocessor/main.scss */
  #project-wrap.loadAnim #project-hdr-img {
    top: 12%;
    left: 16%;
    right: 16%;
    bottom: 12%;
  }

  /* line 1329, preprocessor/main.scss */
  #next-project {
    right: -14px;
  }

  /* line 1333, preprocessor/main.scss */
  #prev-project {
    left: -14px;
  }

  /* line 1336, preprocessor/main.scss */
  #project-hdr-text h1 {
    font-size: 38px;
    line-height: 1.2em;
    margin-bottom: 2.2rem;
  }

  /* line 1341, preprocessor/main.scss */
  #project-hdr-text h2 {
    text-transform: lowercase;
    font-size: 14px;
    margin-bottom: 1.2rem;
  }

  /* line 1346, preprocessor/main.scss */
  #project-hdr-text h3 {
    font-size: 10px;
    margin: 0;
    text-transform: uppercase;
  }

  /* line 1351, preprocessor/main.scss */
  #overview-text {
    position: relative;
    float: none;
    left: 0;
    margin-top: 20px;
    padding: 0 5%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 1360, preprocessor/main.scss */
  .overview-img-wrap {
    position: relative;
    float: none;
    width: 100%;
  }

  /* line 1365, preprocessor/main.scss */
  .project-section {
    padding: 7% 10% 0;
  }

  /* line 1368, preprocessor/main.scss */
  #solution-text {
    position: relative;
    float: none;
    left: 0;
    padding: 0 5%;
    top: 140px;
    margin-top: 40px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 1378, preprocessor/main.scss */
  #s2-img1-wrap {
    position: relative;
    float: none;
  }

  /* line 1382, preprocessor/main.scss */
  .s2-img-wrap {
    width: 100%;
  }

  /* line 1385, preprocessor/main.scss */
  #s2-img2-wrap {
    position: relative;
    float: none;
  }

  /* line 1394, preprocessor/main.scss */
  #contact-wrap {
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 14%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 1406, preprocessor/main.scss */
  #contact-left, #contact-right {
    position: relative;
    display: block;
    height: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 1412, preprocessor/main.scss */
  #contact-left {
    float: right;
    top: 50%;
    width: 100%;
    -webkit-transition: all .2s .2s;
    -moz-transition: all .2s .2s;
    -o-transition: all .2s .2s;
    -ms-transition: all .2s .2s;
    transition: all .2s .2s;
  }

  /* line 1422, preprocessor/main.scss */
  #contact-right {
    float: left;
    top: -50%;
    width: 100%;
    padding-top: 41%;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
  }

  /* line 1433, preprocessor/main.scss */
  #contact-right p {
    display: none;
  }

  /* line 1436, preprocessor/main.scss */
  #contact h1 {
    font-size: 40px;
  }
  /* line 1439, preprocessor/main.scss */
  #contact h1::before {
    bottom: -10px;
    width: 80px;
  }

  /* line 1444, preprocessor/main.scss */
  #contact h2 {
    font-size: 14px;
    margin: 0 0 40px 0;
  }

  /* line 1448, preprocessor/main.scss */
  #contact h3 {
    margin: 0;
    font-size: 10px;
    text-transform: uppercase;
  }

  /* line 1454, preprocessor/main.scss */
  #contact li {
    font-size: 14px;
    margin-bottom: 0.2rem;
  }
}
@media screen and (max-width: 420px) {
  /* line 1463, preprocessor/main.scss */
  .sideMenuActive {
    -webkit-transform: translateX(90%);
    -moz-transform: translateX(90%);
    -o-transform: translateX(90%);
    -ms-transform: translateX(90%);
    transform: translateX(90%);
  }

  /* line 1470, preprocessor/main.scss */
  #side-nav {
    left: -90%;
    width: 90%;
    font-size: 20px;
  }

  /* line 1475, preprocessor/main.scss */
  #side-nav.projectMenu {
    width: 180%;
  }

  /* line 1478, preprocessor/main.scss */
  #side-nav.projectMenu #project-side {
    opacity: 1;
  }

  /* line 1481, preprocessor/main.scss */
  #side-nav.projectMenu #main-side {
    width: 50%;
  }

  /* line 1484, preprocessor/main.scss */
  #view-all-btn {
    right: 0px;
    height: 20px;
    width: 20px;
  }

  /* line 1490, preprocessor/main.scss */
  #intro-text {
    position: relative;
    width: 80%;
  }

  /* line 1494, preprocessor/main.scss */
  #intro-text h1 {
    font-size: 14px;
  }

  /* line 1497, preprocessor/main.scss */
  .hpWorkItem {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
  }

  /* line 1502, preprocessor/main.scss */
  .work-info {
    width: 68%;
    height: 76%;
    top: 12%;
    left: 16%;
    right: 16%;
    bottom: 12%;
  }

  /* line 1510, preprocessor/main.scss */
  .work-text {
    width: 80%;
    margin: 0 auto;
    top: 50%;
  }

  /* line 1515, preprocessor/main.scss */
  .work-text h1 {
    margin-bottom: 3rem;
    font-size: 38px;
    line-height: 1.2em;
  }

  /* line 1520, preprocessor/main.scss */
  .work-text h2 {
    font-size: 14px;
  }

  /* line 1523, preprocessor/main.scss */
  .work-text h3 {
    font-size: 10px;
  }

  /* line 1529, preprocessor/main.scss */
  #project-hdr-text {
    left: 13%;
    bottom: 15%;
    width: 60%;
    -webkit-transition: opacity ease .2s .5s;
    -moz-transition: opacity ease .2s .5s;
    -o-transition: opacity ease .2s .5s;
    -ms-transition: opacity ease .2s .5s;
    transition: opacity ease .2s .5s;
  }

  /* line 1539, preprocessor/main.scss */
  #project-wrap.loadAnim #project-hdr-img {
    top: 12%;
    left: 16%;
    right: 16%;
    bottom: 12%;
  }

  /* line 1545, preprocessor/main.scss */
  #next-project {
    right: -14px;
  }

  /* line 1549, preprocessor/main.scss */
  #prev-project {
    left: -14px;
  }

  /* line 1552, preprocessor/main.scss */
  #project-hdr-text h1 {
    font-size: 38px;
    line-height: 1.2em;
    margin-bottom: 2.2rem;
  }

  /* line 1557, preprocessor/main.scss */
  #project-hdr-text h2 {
    text-transform: lowercase;
    font-size: 14px;
    margin-bottom: 1.2rem;
  }

  /* line 1562, preprocessor/main.scss */
  #project-hdr-text h3 {
    font-size: 10px;
    margin: 0;
    text-transform: uppercase;
  }

  /* line 1567, preprocessor/main.scss */
  #overview-text {
    position: relative;
    float: none;
    left: 0;
    margin-top: 20px;
    padding: 0 5%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 1576, preprocessor/main.scss */
  .overview-img-wrap {
    position: relative;
    float: none;
    width: 100%;
  }

  /* line 1581, preprocessor/main.scss */
  .project-section {
    padding: 7% 15% 0;
  }

  /* line 1584, preprocessor/main.scss */
  #solution-text {
    position: relative;
    float: none;
    left: 0;
    top: 140px;
    padding: 0 5%;
    margin-top: 40px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 1594, preprocessor/main.scss */
  #s2-img1-wrap {
    position: relative;
    float: none;
  }

  /* line 1598, preprocessor/main.scss */
  .s2-img-wrap {
    width: 100%;
  }

  /* line 1601, preprocessor/main.scss */
  #s2-img2-wrap {
    position: relative;
    float: none;
  }

  /* line 1610, preprocessor/main.scss */
  #contact-wrap {
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 14%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 1622, preprocessor/main.scss */
  #contact-left, #contact-right {
    position: relative;
    display: block;
    height: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 1628, preprocessor/main.scss */
  #contact-left {
    float: right;
    top: 50%;
    width: 100%;
    -webkit-transition: all .2s .2s;
    -moz-transition: all .2s .2s;
    -o-transition: all .2s .2s;
    -ms-transition: all .2s .2s;
    transition: all .2s .2s;
  }

  /* line 1638, preprocessor/main.scss */
  #contact-right {
    float: left;
    top: -50%;
    width: 100%;
    padding-top: 41%;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
  }

  /* line 1649, preprocessor/main.scss */
  #contact-right p {
    display: none;
  }

  /* line 1652, preprocessor/main.scss */
  #contact h1 {
    font-size: 40px;
  }
  /* line 1655, preprocessor/main.scss */
  #contact h1::before {
    bottom: -10px;
    width: 80px;
  }

  /* line 1660, preprocessor/main.scss */
  #contact h2 {
    font-size: 14px;
    margin: 0 0 40px 0;
  }

  /* line 1664, preprocessor/main.scss */
  #contact h3 {
    margin: 0;
    font-size: 10px;
    text-transform: uppercase;
  }

  /* line 1670, preprocessor/main.scss */
  #contact li {
    font-size: 14px;
    margin-bottom: 0.2rem;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 1688, preprocessor/main.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 1695, preprocessor/main.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 1702, preprocessor/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 1707, preprocessor/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 1719, preprocessor/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 1728, preprocessor/main.scss */
.invisible {
  visibility: hidden;
}

/* line 1733, preprocessor/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 1738, preprocessor/main.scss */
.clearfix:after {
  clear: both;
}

/* line 1742, preprocessor/main.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 1751, preprocessor/main.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 1759, preprocessor/main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 1763, preprocessor/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 1767, preprocessor/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 1773, preprocessor/main.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 1778, preprocessor/main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 1783, preprocessor/main.scss */
  thead {
    display: table-header-group;
  }

  /* line 1788, preprocessor/main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 1792, preprocessor/main.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 1802, preprocessor/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 1808, preprocessor/main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
